$danger: #6449e7;

.container-fluid {
  background-color: #F4F6FD;
  width:auto;
 
}


#top {
	
height: 40px;
  
  display:flex;
  position: relative;
  font-size: 13px;
  line-height: 30px;
  color: #222222;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  max-width: 960px;
  flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  #top a {

  color: #222222;
  }

i {
	color: #6449e7;
}

.navbar-brand {
& img {
	

	width: 130px;
	height: auto;
  }
}

.not {
	
    width: 18px;
    height: 18px;
    background: #6449e7;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    color: #fff;
    font-size: 10px;
    top: -3px;
    right: -10px;
    margin-bottom: 18px;

  
}

#phone {
  transform: rotate(270deg);
  font-size: 20px;
}

#mail {
  font-size: 15px;
}


nav {
  max-width: 1080px;
  margin-right: auto;
  margin-left:auto;
}

#sb {
        
    border: 1px solid #6449E7;
    color: #6449E7;
   ;
}




.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropright:hover>.dropright-sub-menu {
  display: block;
}

.dropright>.dropright-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}